
@media (min-width:768px) {
  /* Side Nav */
  .side-nav {
	margin-left: -200px;
	padding-right:5px !important;
	left: 200px;
	width: 200px;
	position: fixed;
	top: 50px;
	height: 100%;
	border-radius: 0;
	border: none;
	background-color: #cccccc;
	overflow-y: auto;
  }

  /*menu overrides*/
  .side-nav>li.dropdown>ul.dropdown-menu {
	position: relative;
	min-width: 200px;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
	color: #999999;
	padding: 15px 15px 15px 25px;
  }
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
	color: #000;
	background-color: #428bca;
  }
  
  
  .navbar-default .side-nav>.active>a, .navbar-default .side-nav>.active>a:hover, .navbar-default .side-nav>.active>a:focus {
  	color: #fff;
	background-color: #666;  
  }

  
  .side-nav>li>a {
	width: 200px;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
